# Entorno Python
venv/
__pycache__/
*.pyc
pyvenv.cfg

# Datos
data/raw/          # Ignora toda la carpeta raw
*.csv              # Ignora .csv en cualquier lado (excepto processed/)
*.json             # Ignora .json en cualquier lado (excepto processed/)
*.parquet          # Ignora .parquet en cualquier lado (excepto processed/)
!data/processed/   # Excepción: trackea toda la carpeta processed
!data/processed/*  # Excepción: trackea archivos dentro de processed/

# Sistema/IDE
.DS_Store
.vscode/
bin/
include/
lib/
share/

# Binarios
chromedriver
